.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App h1 {
  grid-column: 1 / -1;
}

.plusButton {
  margin-right: 15px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  background-color: aqua;
  transform: .5s all ease;
}

.plusButton:hover {
  filter: brightness(80%);
}

.minusButton {
  margin-left: 15px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  background-color: tomato;
}

.minusButton:hover {
  filter: brightness(80%);
}

.timeLabel {
  font-size: 1.1em;
  font-weight: bold;
}

#sessionTimeContainer {
  justify-self: end;
  margin-right: 15px;
}

#breakTimeContainer {
  justify-self: start;
  margin-left: 15px;
}


#timeContainer {
  grid-column: 1 / -1;
}

#timer-label {
  font-weight: bold;
}

#time-left {
  display: block;
  font-size: 2em;
  margin: 15px;
}

#timeStatus {
  display: block;
  font-size: 1.2em;
  margin: 15px;
}

#buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

#buttonContainer button {
  width: 20%;
}

#start_stop {
  justify-self: end;
  margin-right: 10px;
}

#reset {
  margin-left: 10px;
}

